@model IEnumerable<WebApplication.Models.DocumentViewModel>
@using Constants;

<table class="table">
 @if (Model != null) { 
foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @(Request.Url + Constant.downloadController+ item.Id)
        </td>
        <td>
            Access
            @Html.CheckBoxFor(modelItem => item.Access, new { @onclick = "some(" + item.Id.ToString() + ")" })
        </td>
        <td>
            <a href='@Url.Action("DownloadDocument","Document",new {documentId = item.Id})'>
                <i class="glyphicon glyphicon-download"></i>
            </a>
        </td>
        <td>
            <a href='@Url.Action("DeleteDocument","Document",new {documentId = item.Id})'>
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    </tr>
}
 }

</table>

<script>
    function some(id) {
        $.ajax({
            url: '@Url.Action("ChangeAccess", "Document")',
            type: "POST",
            data: "id="+id,
            success: function (msg) {
                
            }
        })
    }
</script>